<body>

   
    <div class="mb-5">
        <p class="text-4xl text_shop text-black mt-64 container">EXPLORE SOME OF OUR LATEST</p>
        <p class="container text_shop text-5xl text-red-500">---- INTERIOR DESIGN WORK.</p>
    </div>

    <div class="container flex gap-5">
        <img class="rounded-md" src="https://templatemo.com/templates/templatemo_572_designer/assets/images/explore-work-left-image.jpg" alt="">
        <div>
            <p class="interior text-2xl p-3 mb-3">Interior Design</p>
            <div class="flex ">
                <div class="flex gap-2">
                    <img class="w-11" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAAB7klEQVR4nO2Zu0vEQBDGf+gVPkAERcXK0sI/QHxUaqNYi9r4OFD/C+0slUPE3ld91VXayVnYir0eIljaiKcrgQksS2LuYvayyn4w5HZmMvd9m9kNbMDDw8PjL2AauARqQB1QlqwOPAEXwFQWxAvAsUXCKsGOhENq5EleaSJSt41yxKbSCLh0gLgSO0sjoOYAcSUWLOymYXO3adbqaQQox8zDo9VQjlnTyJuw8gLIf9aVbyH+8SKuAn3ASkz8BOiXa1S8KPGbBmtmLmBP8toiYp/AsMSHZWzmtEt8DPhooGbmAnZ/yL0yal0nEDpsoGZLBWwZtbYTCPUAz64ICNphwKjVr7VJHKFNVwRUNP+c9ruSQKgNmHdBwJr4OoBHoFPG6zGEFoV80v+3RMA70Cu+EWBfroj/PYLQLrBhW0BV+nhJ2xJ3tJkO88oJNcsxAl404VYElDT/jCy48MBpVstbTai5GiNAAQc2BbwBoxE53cC9lhfO4pJxfzBG4qEv7Ps9bfcKXmrISy7zNfAq+/sQ0AUsAA9Gzoq0WtXw3wGDxhNYltxbzXcjvmIWAv78sUrNAeJKLNiOm8aFA8SV2GkaAePAlwPkFTBJShw5QL7EL1DIWUTptx84QgSP8FwWk+1PTI9ynD6RBXEPDw8PrOIbtW3RCIfaWJAAAAAASUVORK5CYII=">
                    <p class="janury text-gray-500 text-lg">January 17, 2003</p>
                </div>
            </div>
            <a href="#"><p class="text-2xl mt-4 textWaterfront mb-4 text-black">The Waterfront Cafe and Restaurant --></p></a>
            <div class="flex gap-4 ">
                <div class="flex gap-3 text-lg">
                    <img class="w-11" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAu0lEQVR4nO3WMWqCQRCG4adX0we8gHiVxGAuEkF7iacIegtJECRYCLmHheIV1OYX4TcsIroYiM28sM0y833MsjuzBME/8IMlRmijmpFTxwsG+Er2h6VGLce4OFkbTPGWxDzjHZ9Yn8k51driG100co0vCd4aN7mXcRHGB+Koi7hc4jmJBvJLtMzi0pCY3ms6HWiihxl2GYIrjNHHUxLXKQvZ5BqnPOC1/AodSU0eXaeCFj6wwDwjJwj8iT23FIokVmQE3gAAAABJRU5ErkJggg==">                    <p class="janury text-gray-500"> VietNam,Hn</p>
                </div>
                <div >
                    <p class="janury  text-gray-500 text-lg">Lorem Ipsum dolor sit amet, consectetur adipsicing kengan omeg kohm</p>
                </div>
            </div>

            <div>
                <p class="interior text-2xl p-3 mt-4 mb-3">Building & Developing</p>
                <div class="flex gap-4 mb-4">
                    <div class="flex gap-3 text-lg">
                        <img class="w-11" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAAB7klEQVR4nO2Zu0vEQBDGf+gVPkAERcXK0sI/QHxUaqNYi9r4OFD/C+0slUPE3ld91VXayVnYir0eIljaiKcrgQksS2LuYvayyn4w5HZmMvd9m9kNbMDDw8PjL2AauARqQB1QlqwOPAEXwFQWxAvAsUXCKsGOhENq5EleaSJSt41yxKbSCLh0gLgSO0sjoOYAcSUWLOymYXO3adbqaQQox8zDo9VQjlnTyJuw8gLIf9aVbyH+8SKuAn3ASkz8BOiXa1S8KPGbBmtmLmBP8toiYp/AsMSHZWzmtEt8DPhooGbmAnZ/yL0yal0nEDpsoGZLBWwZtbYTCPUAz64ICNphwKjVr7VJHKFNVwRUNP+c9ruSQKgNmHdBwJr4OoBHoFPG6zGEFoV80v+3RMA70Cu+EWBfroj/PYLQLrBhW0BV+nhJ2xJ3tJkO88oJNcsxAl404VYElDT/jCy48MBpVstbTai5GiNAAQc2BbwBoxE53cC9lhfO4pJxfzBG4qEv7Ps9bfcKXmrISy7zNfAq+/sQ0AUsAA9Gzoq0WtXw3wGDxhNYltxbzXcjvmIWAv78sUrNAeJKLNiOm8aFA8SV2GkaAePAlwPkFTBJShw5QL7EL1DIWUTptx84QgSP8FwWk+1PTI9ynD6RBXEPDw8PrOIbtW3RCIfaWJAAAAAASUVORK5CYII=">
                        <p class="janury text-gray-500"> January 20, 2022</p>
                    </div>
                    <div >
                        <a href="#"><p class="janury1 text-black text-xl">Home Land Port Canaveral Suites -></p></a>
                    </div>
                </div>
                <div class="flex gap-4 ">
                    <div class="flex gap-3 text-lg">
                        <img class="w-11" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAu0lEQVR4nO3WMWqCQRCG4adX0we8gHiVxGAuEkF7iacIegtJECRYCLmHheIV1OYX4TcsIroYiM28sM0y833MsjuzBME/8IMlRmijmpFTxwsG+Er2h6VGLce4OFkbTPGWxDzjHZ9Yn8k51driG100co0vCd4aN7mXcRHGB+Koi7hc4jmJBvJLtMzi0pCY3ms6HWiihxl2GYIrjNHHUxLXKQvZ5BqnPOC1/AodSU0eXaeCFj6wwDwjJwj8iT23FIokVmQE3gAAAABJRU5ErkJggg==">                        <p class="janury text-gray-500"> Intern Miami</p>
                    </div>
                    <div >
                        <p class="janury  text-gray-500 text-lg">Lorem Ipsum dolor sit amet, consectetur adipsicing kengan omeg kohm</p>
                    </div>
                </div>
            </div>



            
            <div>
                <p class="interior text-2xl p-3 mt-4 mb-3">Boost Up Your Style</p>
                <div class="flex gap-4 mb-4">
                    <div class="flex gap-3 text-lg">
                        <img class="w-11" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAAB7klEQVR4nO2Zu0vEQBDGf+gVPkAERcXK0sI/QHxUaqNYi9r4OFD/C+0slUPE3ld91VXayVnYir0eIljaiKcrgQksS2LuYvayyn4w5HZmMvd9m9kNbMDDw8PjL2AauARqQB1QlqwOPAEXwFQWxAvAsUXCKsGOhENq5EleaSJSt41yxKbSCLh0gLgSO0sjoOYAcSUWLOymYXO3adbqaQQox8zDo9VQjlnTyJuw8gLIf9aVbyH+8SKuAn3ASkz8BOiXa1S8KPGbBmtmLmBP8toiYp/AsMSHZWzmtEt8DPhooGbmAnZ/yL0yal0nEDpsoGZLBWwZtbYTCPUAz64ICNphwKjVr7VJHKFNVwRUNP+c9ruSQKgNmHdBwJr4OoBHoFPG6zGEFoV80v+3RMA70Cu+EWBfroj/PYLQLrBhW0BV+nhJ2xJ3tJkO88oJNcsxAl404VYElDT/jCy48MBpVstbTai5GiNAAQc2BbwBoxE53cC9lhfO4pJxfzBG4qEv7Ps9bfcKXmrISy7zNfAq+/sQ0AUsAA9Gzoq0WtXw3wGDxhNYltxbzXcjvmIWAv78sUrNAeJKLNiOm8aFA8SV2GkaAePAlwPkFTBJShw5QL7EL1DIWUTptx84QgSP8FwWk+1PTI9ynD6RBXEPDw8PrOIbtW3RCIfaWJAAAAAASUVORK5CYII=">
                        <p class="janury text-gray-500">  January 16, 2022</p>
                    </div>
                    <div >
                        <a href="#"><p class="janury1  text-black text-xl">Hallandale Beach Motel Design -></p></a>
                    </div>
                </div>
                <div class="flex gap-4 ">
                    <div class="flex gap-3 text-lg">
                        <img class="w-11" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAu0lEQVR4nO3WMWqCQRCG4adX0we8gHiVxGAuEkF7iacIegtJECRYCLmHheIV1OYX4TcsIroYiM28sM0y833MsjuzBME/8IMlRmijmpFTxwsG+Er2h6VGLce4OFkbTPGWxDzjHZ9Yn8k51driG100co0vCd4aN7mXcRHGB+Koi7hc4jmJBvJLtMzi0pCY3ms6HWiihxl2GYIrjNHHUxLXKQvZ5BqnPOC1/AodSU0eXaeCFj6wwDwjJwj8iT23FIokVmQE3gAAAABJRU5ErkJggg==">                        <p class="janury text-gray-500"> North City </p>
                    </div>
                    <div >
                        <p class="janury  text-gray-500 text-lg">Lorem Ipsum dolor sit amet, consectetur adipsicing kengan omeg kohm</p>
                    </div>
                </div>
            </div>
            <p class="interior text-2xl p-3 mt-4 mb-3">Boost Up Your Style</p>
            <div class="flex gap-4 ">
                
                <div >
                    <p class="janury  text-gray-500 text-lg"><div class="flex gap-4 ">
                        <div class="flex gap-3 text-lg">
                            <img class="w-11" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAAB7klEQVR4nO2Zu0vEQBDGf+gVPkAERcXK0sI/QHxUaqNYi9r4OFD/C+0slUPE3ld91VXayVnYir0eIljaiKcrgQksS2LuYvayyn4w5HZmMvd9m9kNbMDDw8PjL2AauARqQB1QlqwOPAEXwFQWxAvAsUXCKsGOhENq5EleaSJSt41yxKbSCLh0gLgSO0sjoOYAcSUWLOymYXO3adbqaQQox8zDo9VQjlnTyJuw8gLIf9aVbyH+8SKuAn3ASkz8BOiXa1S8KPGbBmtmLmBP8toiYp/AsMSHZWzmtEt8DPhooGbmAnZ/yL0yal0nEDpsoGZLBWwZtbYTCPUAz64ICNphwKjVr7VJHKFNVwRUNP+c9ruSQKgNmHdBwJr4OoBHoFPG6zGEFoV80v+3RMA70Cu+EWBfroj/PYLQLrBhW0BV+nhJ2xJ3tJkO88oJNcsxAl404VYElDT/jCy48MBpVstbTai5GiNAAQc2BbwBoxE53cC9lhfO4pJxfzBG4qEv7Ps9bfcKXmrISy7zNfAq+/sQ0AUsAA9Gzoq0WtXw3wGDxhNYltxbzXcjvmIWAv78sUrNAeJKLNiOm8aFA8SV2GkaAePAlwPkFTBJShw5QL7EL1DIWUTptx84QgSP8FwWk+1PTI9ynD6RBXEPDw8PrOIbtW3RCIfaWJAAAAAASUVORK5CYII=">
                            <p class="janury text-gray-500"> North City </p>
                        </div>
                        <div >
                            <p class="janury  text-gray-500 text-lg">Lorem Ipsum dolor sit amet, consectetur adipsicing kengan omeg kohm</p>
                        </div>
                    </div>
                </div>
            </div>
        
        
           
        </div>
    </div>


    
  

    <div class="flex container gap-24 ">
        <div>
            <p class="text-4xl text_shop text-black mt-36 container">CHECK OUT WHATS TRENDING IN</p>
            <p class="container text_shop text-5xl text-red-500 mb-7">---- OUR INTERIOR WORK.</p>
            <p class="text_box2 container">Lorem Ipsum dolor sit amet, consectetur adipsicing kengan omeg kohm tokito adipcingi
                 elit, sed do eismuod larehai med at vero eos et suscipit neque rerum molestias 
                 accusamus et iusto odio dignissimos ducimus qui blanditis.</p>
            <div class="bg-red-500 w-60 rounded-md mt-4 btn_shopnow">
                <a href="shop"><p class="text-center p-2 text-white">Shop now</p></a>
            </div>
        </div>
        <div class="flex">
            <div><a href="#"><img  class="img_shop mt-16 rounded-md " src="https://templatemo.com/templates/templatemo_572_designer/assets/images/whats-trending-item-image.jpg" alt=""></a></div>
            <img class="img_shopnow mt-28 " src="https://templatemo.com/templates/templatemo_572_designer/assets/images/whats-trending-right-image.png" alt="">
        </div>
       
    </div>

    <div class="border mt-32 mb-32"></div>
    
</body>