<div class="banner_menu ">
       
    <div class="container mx-auto flex justify-between menu ml-20">
        <div class="mt-4 ml-24">
            <img src="https://templatemo.com/templates/templatemo_572_designer/assets/images/white-logo.png" alt="">
        </div>
        <div class="flex gap-4 mt-4 text-white text_menu">
            <a class="text-lg text-white" href="home">Home Page</a>
            <a class="text-lg text-white" href="shop" >Shop</a>
            <a class="text-lg text-white" href="#">About us</a>
            <a class="text-lg text-white" href="signup" rouerLink="/signup">Sign up</a>

        </div>
    </div>



<div class=" text_banner ">
    <p class="text-white text-3xl mb-2">WE PROVIDE EVERYTHING </p>
    <div class="flex justify-center">
        <p class="text-red-500 text-6xl mr-5">INTERIOR</p>
        <p class="text-white text-6xl">DESIGNER</p>
    </div>
</div>
</div>

<div class="box_search con rounded-lg mx-auto p-7 mb-24">

<p class="text-center text-4xl text_search">Search Work by Title</p>
<input class="input_search rounded-md flex justify-center text-center mx-auto" type="text" placeholder="Enter Name Product"><br>
<div class="btn_search mx-auto rounded-lg h-10">
    <p class="text-center mt-2" >Search Now</p>
</div>

</div>