<div class="container  border-t-black mb-10">
    <div class="float-left">
        <img class="mb-5" src="https://templatemo.com/templates/templatemo_572_designer/assets/images/footer-logo.png" alt="">
        <p class="text_footer mb-28">Lorem Ipsum dolor sit amet, consectetur adipsicing kengan omeg kohm tokito adipcingi elit, sed do eismuod larehai med at vero eos et suscipit neque rerum molestias</p>
        <p class="Copyright mb-10">Copyright © 2022 Designer HL., Ltd. All Rights Reserved. <br/>
            Design: Hung lee</p>
    </div>
    <div class="float-right flex gap-16 mr-36">
        <div>
            <p class="text-xl mb-4">Our Location</p>
            <p class="mb-3 text-gray-500">Sunny Isles Beach,</p>
            <p class="mb-3 text-gray-500">Florida 33160,</p>
            <p class="mb-3 text-gray-500">United States</p>
        </div>
        <div>
            <p class="text-xl mb-4">Customer Care</p>
            <p class="mb-3 text-gray-500">010-020-0340</p>
            <p class="mb-3 text-gray-500">090-080-0760</p>
            <p class="mb-3 text-gray-500">info@company.com</p>
        </div>
        <div>
            <p class="text-xl mb-4">Follow Us</p>
            <div class="flex mb-3 gap-2">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAABbUlEQVR4nO2Wu0rEQBhGT6OCnY2K91oLC7HTB7DwxmKtFlYa9XVcUXvRzltpYal9XPAFvIGbRZd1oxKYhTEkf/5NsrDFfjDNMGdO5pKZgU7aMGOAA9wALlAxxTV1O8BonsJh4ACoA78JxQdOgYms0hXAUwjDpQwspZXumRE0K7VHv5tmpH4Tkg/gK0auHvmIcnqfgU2gz2J7gLuIaR/SiI8U0k9gKoa/jWh/qPllNLu3GOK6gGlgBniIaF83MxkbR7mmaxbTC5QUzLYkvlaK5yxmQclcSuJHZSezFrOuZFxJ7KUQbygZTxJXBHAeXeLWuyxBTxnF3cB3DF+SwKuM4kmBv5DA/YTNcW9KIGhk0aqXNqcjiceBWgs2V01zV5+0QFxEkeDYfM9R/JZ0XNopAD85iIM+lrXSRraEO1kj9k0fqVIAXlOIX4BVMmYQOAaqCnHV3OcDWaXhDwjeUOehR0DwTDozb7T+f0Qn7ZA/M7pkIR8cDCkAAAAASUVORK5CYII=">
                <p>Facebook</p>
            </div>
           <div class="flex mb-3 gap-2">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAABWUlEQVR4nO2WwU7CQBCGv7t4A05y5ih6EDH6Dkp8IJEnUOQhMCQ8iehD6E1NWz3IQTEb/yakobutmRoP/Mkkzc7MfpnJdLKw0T9QExgC98A7sCxoLnau3EZZ6DmQlIDlWQz0y0C/DKCpfRaBN40qzVoUavvQCHQEHGfOBj7wgxHYQU8yZ3MfONTmD+AK6AJbMvc9AhaB3MQH9iU+Arue3I5ifHfkyldpCm0BU1XgbAa05dsLVJ6rvATX3hT6ssb/Kp/TjSX4QP6pJ+ZWMYeW4FqB4XNbymn7r8FRFeCu/DNPzEQxPUvwtfxtDVLW/wzsKGZs/Tt1FNPSIMWyyQp03/p3Wmo5pPB1ctCnwB2/XpkLrceeBq6m73GBlRnnY39eG8uK7M4HvqwQfOEDN9QSa2gE1Amor+eKFdTddRqCrsIjo0rPikJT1fVccUPxVgKWKGdQpL0bUbW+AcdI0V4wAXsCAAAAAElFTkSuQmCC">
                <p>Instagram</p>
            </div>
            <div class="flex mb-3 gap-2">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAA20lEQVR4nO3UMUoDQRTG8V8Ey2ChSY4h5BQJgoWFSRGChaawsEqld1Ab72DtGfQAVkmRKknpCWzW5glLSBbc3QGLfPBgvo9582d4zLDXH3WGNbKStUK/CLCqcHgWtSwCZDXVTuU3LXCFl1SAaWQH+E4BmOEST6lukHwG7zjGKJfd4QivuIj1KeZlAA+5GfxmncgON/rOywDut+St8F18YRi+VTfgOvzjjt7KgJs6ANtm0I5sEv45fKMM4AMnGOeyWzTxFv4zoIN/+Q6yFIDk33W/ImSJXhFgL5v6AaUHB0iDcN4vAAAAAElFTkSuQmCC">
                <p>Linkedin</p>
            </div>
        </div>
    </div>
</div>